<div class="background mainBg bgDiv">
    <div class="grid bg-primary topBarDiv">

        <!-- sidebar menu button -->
        <div class="center" (click)="drawer.toggle()"
            [ngClass]="{'cell col-1': hud.topBarBg || hud.mobileL, 'cell col-2': hud.mobileP || hud.tabletP}">
            <i class="pi pi-bars icon pointer"></i>
        </div>

        <!-- MW logo -->
        <div [ngClass]="{'cell col-2 center logoDiv': hud.topBarBg, 'noLogoDiv': hud.topBarSm}">
            <img src="assets/images/logo.png"
                [ngClass]="{'logoImg': hud.desktopL, 'smLogoImg': hud.desktopP || hud.tabletL}">
        </div>

        <!-- search bar and search button that only appears when their is input -->
        <div class="center"
            [ngClass]="{'cell col-6 searchBarDiv': hud.topBarBg, 'cell col-8 smSearchBarDiv': hud.topBarSm}">
            <input type="text" [formControl]="searchText" placeholder="Search for Products...">
            <button *ngIf="this.searchText.value" class="searchBut pointer" (click)="clearSearch()">X</button>
        </div>

        <!-- Profile icon -->
        <div
            [ngClass]="{'cell col-2 center profileDiv': hud.topBarBg || hud.mobileL, 'noProfileDiv': hud.mobileP || hud.tabletP}">

            <!-- detemining if current user is admin or not -->
            <ng-container *ngIf="admin == 'true', else profilebase">
                <div class="profileLogo admin pointer" (click)="this.hud.account()">
                    <h1>{{iconName}}</h1>
                </div>
            </ng-container>
            <ng-template #profilebase>
                <div class="profileLogo user pointer" (click)="this.hud.account()">
                    <h1>{{iconName}}</h1>
                </div>
            </ng-template>
        </div>

        <!-- home button or checkout button depending on the current page  -->
        <ng-container *ngIf="!this.hud.isHomeRoute(), else base">
            <div (click)="this.hud.home()" class="cell center cartDiv"
                [ngClass]="{'col-1': hud.topBarBg || hud.mobileL , 'col-2': hud.mobileP || hud.tabletP}">
                <i class="pi pi-home icon pointer"></i>
            </div>
        </ng-container>
        <ng-template #base>
            <div (click)="this.hud.checkout()" class="cell center cartDiv"
                [ngClass]="{'col-1': hud.topBarBg || hud.mobileL , 'col-2': hud.mobileP || hud.tabletP}">
                <i class="pi pi-shopping-cart icon pointer"></i>
            </div>
        </ng-template>
    </div>

    <!-- Subscribing to the searchResults obs  -->
    <ng-container *ngIf="searchResults | async as search">

        <!-- only appears when user is searching for item from the database -->
        <div class="grid noScroll searchArea">
            <ng-container *ngFor="let products of search.data.data">
                <div class="col-12-xs col-12-sm col-6-md col-4-lg col-3-xl prodCard pointer">
                    <app-card (click)="this.hud.popUpRoute(products.productID)" [data]="products"></app-card>
                </div>
            </ng-container>
        </div>

    </ng-container>

    <!-- sidebar menu -->
    <mat-drawer-container autosize>
        <mat-drawer #drawer class="matDrawer" mode="over">

            <!-- button to route to profile -->
            <div>
                <ng-container *ngIf="!this.hud.isProfileRoute()">
                    <button class="button-primary drawerButton col-12" (click)="this.hud.account()"><i
                            class="pi pi-user icon pointer"></i></button>
                </ng-container>

            <!-- button to route to home -->
                <ng-container *ngIf="!this.hud.isHomeRoute()">
                    <button class="button-primary drawerButton col-12" (click)="this.hud.home()"><i
                            class="pi pi-home icon pointer"></i></button>
                </ng-container>

            <!-- button to route to manage -->
                <ng-container *ngIf="admin == 'true' && !this.hud.isManageRoute()">
                    <button class="button-primary drawerButton col-12" (click)="this.hud.manage()"><i
                            class="pi pi-cog icon pointer"></i></button>
                </ng-container>
            <!-- button to log off -->
                <button class="button-primary drawerButton col-12" (click)="logOff()"><i
                        class="pi pi-sign-out icon pointer"></i></button>
            </div>
        </mat-drawer>

        <!-- Based of routing module all components from chosen module will display here -->
        <router-outlet></router-outlet>
    </mat-drawer-container>
</div>